# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
server/node_modules

# testing
server/coverage

# production
server/build

# misc
server/.DS_Store
server/.env.local
server/.env.development.local
server/.env.test.local
server/.env.production.local

server/npm-debug.log*
server/yarn-debug.log*
serevr/yarn-error.log*
